*.pyc
.cache
*.sqlite*
.idea
local_settings.py
.DS_Store
bower_components
bower_components/**
node_modules
node_modules/**
*.sublime-*
media
xunittest.xml
.coverage
coverage.xml
nosetests.xml
*.ffs_db
/npm-debug.log
celerybeat-schedule
celerybeat.pid
*.iml
/nopass.local
.yarnclean
**/.sync
/invoice_clearance/local_settings.py
/locale/ar/LC_MESSAGES/django.mo
yarn-error.log
.vscode
.vscode/**
temp.sql
webpack-stats.json
package-lock.json

# Ignore eggs
*egg-info
# Ignore build and test artifacts
*.xml
build
dist

static/*
!static/stc/.gitkeep
!static/bluvalt/.gitkeep
!static/viva/.gitkeep
.gitsecret/keys/random_seed
!*.secret
*.sqlite3
poetry.lock